# fly.toml app configuration file generated for planecode on 2025-12-29T23:46:25Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'planecode'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
